{% extends 'base.html' %}

{% block body %}



<h2>{{ the_blog_name }}</h2>


    {% if session['user_name'] %}
        {% if session['user_name'] == the_blog_author %}
            <div class="post">
                <a href="/add_post/{{ the_blog_id }}" class="button">Добавить пост</a>
            </div>
        {% endif %}
    {% endif %}

    {% for the_post in the_posts %}
        <a href="/post/{{the_blog_id}}/{{the_post.id}}">
            <div class="post">
                <h1>{{ the_post.title }}</h1>
                <div>
                    {{ the_post.content }}
                </div>
            </div>
        </a>
    {% endfor %}





{% endblock %}