{% extends 'base.html' %}

{% block body %}



<h2>{{ the_title }}</h2>

    {% if session['user_name'] %}
    <form method="post" action="/update_blog">
        <table>
            <p>Хочешь изменить свой блог?</p>
            <tr>
                <td>Название:</td>
                <td>
                    <input name="blog_name"
                           type="text"
                           width="150"
                           value="{{ the_blog_name }}">
                    <input type="hidden" value="{{ the_blog_id }}" name="blog_id">
                </td>
            </tr>

        </table>
        <p><input value="Изменить" type="submit" class="button">
            <a href="/cancel_update_blog" class="button">Отменить</a></p>
    </form>
    {% endif %}

    {% if session['user_name'] %}
        {% if session['user_name'] == the_blog_author %}
            <div class="post">
                <a href="/add_post/{{ the_blog_id }}" class="button">Добавить пост</a>
            </div>
        {% endif %}
    {% endif %}

    {% for the_post in the_posts %}
    <div class="post">
        <a href="/edit_post/{{ the_blog_id }}/{{ the_post.id }}" class="button">Редактировать</a>
        <a href="/delete_post/{{ the_blog_id }}/{{ the_post.id }}" class="button">Удалить</a>
        <h1>{{ the_post.title }}</h1>
        <div>
            {{ the_post.content }}
        </div>
    </div>
    {% endfor %}

    Все блоги, возможность их удалить и редактировать



{% endblock %}