{% extends 'base.html' %}

{% block body %}



<h2>{{ the_title }}</h2>

    {% if session['user_name'] %}
    <form method="post" action="/update_post/{{ the_blog_id }}">
        <p>Заголовок:</p>
        <input name="post_title"
               type="text"
               width="150"
               value="{{ the_post_title }}">
        <input type="hidden" value="{{ the_post_id }}" name="post_id">
        <p>Текст:</p>
        <textarea name="post_content"
                  rows="10"
                  cols="76"
                  value="{{ the_post_content }}"></textarea>


        {% if the_user_blogs %}
        <p>В какие блоги опубликовать?</p>

        <table>
        <tr>
            {% for blog_title in the_blogs_titles %}
            <td class="title">{{ blog_title }}</td>
            {% endfor %}
        </tr>
        {% for blog in the_user_blogs %}
            <tr>
                <td>{{ blog.name }}</td>
                <td><input type="checkbox" name="blog_ids" value="{{ blog.id }}"
                           {% if the_blog_id == blog.id %}
                           checked
                           {% endif %}></td>
            </tr>
        {% endfor %}

        </table>
    {% endif %}


        <p>
            {% if the_post_title %}
                <input value="Изменить" type="submit" class="button">
            {% else %}
                <input value="Добавить" type="submit" class="button">
            {% endif %}
            <a href="/cancel_update_post/{{ the_blog_id }}" class="button">Отменить</a></p>
    </form>
    {% endif %}


{% endblock %}