{% extends 'base.html' %}

{% block body %}

    {% if the_blogs %}
    <div class="post">
    <h2>{{ the_title }}</h2>

        <table>
        <tr>
            {% for blog_title in the_blogs_titles %}
            <td class="title">{{ blog_title }}</td>
            {% endfor %}
        </tr>
        {% for blog in the_blogs %}
            <tr>
                <td><a href="/blog/{{ blog.id }}" >{{ blog.name }}</a></td>
                <td>{{ blog.user.login }}</td>
            </tr>
        {% endfor %}

        </table>
    </div>
    {% endif %}

{% endblock %}